.login-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 150px;
  /* background-color: aqua; */
}

.input-email,
.input-password {
  min-width: 250px;
  min-height: 45px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  box-shadow: 1px 1px 10px gray;
  background-color: rgba(128, 128, 128, 0.023);
  padding-left: 20px;
  font-weight: 400;
}

.forget-password {
  align-self: flex-end;
}

.forget-svg {
  position: relative;
  bottom: 30px;
  left: 110px;
}

.fp-a {
  text-decoration: none;
}
